.d-detail {
  background: #fff;
  padding: 0.2rem;
  overflow: hidden;
}
b,
i {
  font-weight: normal;
  font-style: normal;
}
.dt {
  margin-bottom: 0.4rem;
}
.dt .dt-tc {
  border: 1px solid #e6e6e6;
}
.dt .dt-t {
  height: 1rem;
  line-height: 1rem;
  padding: 0 0.2rem;
  background: #f3f9fd;
  border-bottom: 1px solid #e6e6e6;
}
.dt .dt-t .dt-tl {
  float: left;
  color: #333333;
  font-size: 0.4rem;
  width: 70%;
}
.dt .dt-t .dt-tr {
  width: 25%;
  float: right;
  font-size: 0;
  text-align: right;
}
.dt .dt-t .dt-tr a {
  line-height: 1rem;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.28rem;
  color: #5c92fa;
}
.dt .dt-c {
  padding: .4rem;
}
.dt .dt-c .info-list {
  font-size: 0;
}
.dt .dt-c .info-list li {
  line-height: 0.48rem;
}
.dt .dt-c .info-list li span {
  font-size: 0.24rem;
}
.dt .dt-c .b-left {
  width: 32%;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  color: #666666;
  font-size: 0.24rem;
}
.dt .dt-c .b-right {
  display: inline-block;
  width: 60%;
  word-wrap: break-word;
  font-size: 0.24rem;
  color: #333;
}
.dt .dt-c .b-right.b-price {
  font-weight: bold;
  color: #e2383a;
}
.dt .dt-c .b-right.b-time {
  color: #e2383a;
}
.dt .dt-c .dt-table {
  border: 1px solid #e6e6e6;
  border-bottom: none;
  margin-bottom: 0.2rem;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.dt .dt-c .dt-table th {
  background: #f5f5f5;
  font-weight: bold;
  color: #666666;
  font-size: 0.28rem;
  text-align: center;
  line-height: 0.78rem;
}
.dt .dt-c .dt-table tr.expand {
  text-align: center;
}
.dt .dt-c .dt-table tr.expand td {
  color: #5c92fa;
}
.dt .dt-c .dt-table tr td {
  text-align: center;
  color: #666666;
  font-size: 0.28rem;
  line-height: 0.78rem;
  border-bottom: 1px solid #e6e6e6;
}
.dt .dt-b {
  width: 5.2rem;
  height: 0.7rem;
  margin: .4rem auto;
}
.dt .dt-b a {
  width: 2.4rem;
  height: 0.68rem;
  line-height: 0.72rem;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  font-size: 0.32rem;
  float: left;
  background: #e2383a;
}
.dt .dt-b a:last-child {
  float: right;
  background: #fe8431;
}
.dc {
  border: 1px solid #e6e6e6;
  padding: 0 .2rem;
  background: #fff;
  margin-bottom: 0.4rem;
}
.dc .dc-t {
  line-height: 0.8rem;
  color: #333333;
  font-size: 0.32rem;
  text-align: left;
  height: 0.8rem;
  background: #fafafa;
}
.dc .dc-img {
  height: 5.72rem;
  width: 100%;
  background: url("../../../images/mobile/domain/process.png") no-repeat center center;
  background-size: 5.2rem 4.8rem;
}
.db {
  border: 1px solid #e6e6e6;
  margin-bottom: 0.4rem;
}
.db .db-t {
  color: #fe8431;
  font-size: 0.32rem;
  background: #fffaf7;
  line-height: 0.8rem;
  padding: 0 .2rem;
}
.db .db-c {
  padding: .2rem;
  text-align: left;
  line-height: .48rem;
  margin-bottom: 2px;
  font-size: 0.24rem;
  color: #666666;
}
